:root {
  --beige: #FFF5D0;
  --yellow: #FFD840;
  --orange: #FF9050;
  --coral: #FF505A;
  --lightcoral: #F08080;
  --pink: #F6C6BD;
  --aqua: #B2FEF7;
  --purple: #D8C0F8;
  --brown: #452B1f;
  --bgpink: #FFC9D7;
}

body {
  background: var(--bgpink);
  color: var(--brown);
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal; 
  margin: 0;
  padding: 40px;
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

p { 
  text-align: center;
}

/* nav */
ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

ul a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

/* centering images class */
.center-img {
  display: block;      /* Change it from "text-like" to a "block" */
  margin-left: auto;   /* Pushes from the left */
  margin-right: auto;  /* Pushes from the right */
  width: 500px;        /* Change this number to make it bigger/smaller */
  height: auto;        /* Keeps the image perfectly proportional */
  
  /* Optional: Add your cute aesthetic border here! */
  border: 1px solid var(--brown);
  padding: 8px;
  background-color: var(--brown);
}